<div class="mt-4 ">
        <h3 >ADD A NEW USER</h3>
        <form method="POST" action="/users/store">
            <div class="form-group row">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
            </div>
            
             <div class="form-group row">
                <label for="mssv">Student ID</label>
                <input type="text" class="form-control" id="mssv" name="mssv" placeholder="Student ID">
            </div>
            <div class="form-group row">
                <label for="class">Class</label>
                <input type="text" class="form-control" id="class" name="class" placeholder="Class">
            </div>   
            
            <button type="submit" class="btn btn-primary btn-lg ">Add</button>
        </form>
</div>