<h3>Thống kê ra vào nhân viên</h3>

<div style = "display: flex;">
  <canvas id="Day" style="width:100%;max-width:400px;heght: 250px;"></canvas>
<canvas id="myChart" style="width:100%;max-width:400px;heght: 250px;"></canvas>
</div>
<div style = "display: flex;">
  <canvas id="Chart" style="width:100%;max-width:400px;heght: 250px;"></canvas>
  <canvas id="xChart" style="width:100%;max-width:400px;heght: 250px;"></canvas>
</div>

<script>
  var xValues = ["Ra", "Vào"]; var yValues = [ 5, 5, 0, 10];
  var barColors = ["red", "green","blue"]; new Chart("Day", { type: "bar",
  data: { labels: xValues, datasets: [{ backgroundColor: barColors, data:
  yValues }] }, options: { legend: {display: false}, title: { display: true,
  text: "Thống kê hôm nay" } } });
</script>
<script>
  var xValues = ["Ra", "Vào"]; var yValues = [ 55, 49, 0,100];
  var barColors = ["red", "green","blue"]; new Chart("myChart", { type: "bar",
  data: { labels: xValues, datasets: [{ backgroundColor: barColors, data:
  yValues }] }, options: { legend: {display: false}, title: { display: true,
  text: "Thống kê 1 tuần" } } });
</script>
<script>
  var xValues = ["Ra", "Vào"]; var yValues = [ 55, 49, 0,100];
  var barColors = ["red", "green","blue"]; new Chart("Chart", { type: "bar",
  data: { labels: xValues, datasets: [{ backgroundColor: barColors, data:
  yValues }] }, options: { legend: {display: false}, title: { display: true,
  text: "Thống kê 1 tháng" } } });
</script>
<script>
  var xValues = ["Ra", "Vào"]; var yValues = [ 55, 49, 0,100];
  var barColors = ["red", "green","blue"]; new Chart("xChart", { type: "bar",
  data: { labels: xValues, datasets: [{ backgroundColor: barColors, data:
  yValues }] }, options: { legend: {display: false}, title: { display: true,
  text: "Thống kê 1 tháng" } } });
</script>